.App {
  font-family: sans-serif;
  text-align: center;
}

html {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

body {
  font-family: "Didact Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: white;
  box-shadow: 5px 5px 5px rgb(201, 198, 198);
  border-radius: 5px;
  height: 30px;
  width: 830px;
  margin: 20px auto; /* Updated margin to auto for centering */
  padding: 20px;
}

main {
  background-color: white;
  box-shadow: 5px 5px 5px rgb(201, 198, 198);
  border-radius: 5px;
  height: 400px;
  width: 850px;
  margin: 20px auto; /* Updated margin to auto for centering */
  padding: 12px;
  display: flex; /* Reverted back to display flex */
  flex-direction: row;
  justify-content: space-between; /* Added to evenly space children */
}

.Appfooter {
  text-align: center;
  font-size: small;
}

a {
  text-decoration: none;
  color: #ffaaa5;
  font-weight: bold;
}

#city {
  font-size: 35px;
}

p {
  font-size: 16px;
  line-height: 20px;
  color: grey;
}

p strong {
  color: #ffaaa5;
}

.weatherAppData {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(230, 226, 226);
}

.searchInput {
  display: flex;
  justify-content: flex-start;
  width: 500px;
  height: 35px;
  margin-left: 5px;
  background-color: #f5f4e8;
  border: 1px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-family: "Didact Gothic", sans-serif;
}

.search {
  height: 35px;
  width: 70px;
  background-color: #fad3cf;
  border: 1px solid #fad3cf;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(201, 198, 198);
  font-family: "Didact Gothic", sans-serif;
  margin-left: 5px;
}

.temp {
  font-size: 80px;
  font-weight: bold;
  margin-left: 10px;
}

#icon {
  font-size: 40px;
  margin-top: 15px;
}

.unit {
  margin-top: 20px;
  font-size: 30px;
}

.weather-forecast {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}

.weather-forecast-date {
  font-size: 25px;
}

.weather-forecast-temperature {
  font-size: 18px;
}

.min-temp {
  color: #ffaaa5;
}

#currentTemperature {
  display: flex;
}

#searchForm {
  padding: 0;
  margin: 0 auto;
  display: flex;
}
